:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #222222;
    --primary-color: #ff385c;
}
a{
    text-decoration: none !important;
}
a:hover{
    color: var(--black-color) !important;
}
html {
    /* trick  */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
.underline {
    text-decoration: none;
}

.underline:hover {
    opacity: 0.8;
}

.icons__social {
    font-size: 1.4rem;
    padding: 1.4rem;
    color: #fff;
}

.app {
    overflow: hidden;
}
/* repontsive */
@media (max-width: 559px){
    .slider_middel{
        display: none;
    }
    .slider_right{
        height: 80px;
        position: absolute;
        z-index: 1;
        top: -90px;
    }
    .slider_right-title{
        opacity: 0;
    }
    .slider_right-title:hover{
        opacity: 0;
    }
    .header_middel{
        display: none;
    }
    .header_right{
        height: 80px;
        position: absolute;
        z-index: 1;
        top: -90px;
    }
    .header_right-title{
        opacity: 0;
    }
    .header_right-title:hover{
        opacity: 0;
    }
    .slider_content-wrap{
        left: 10%;
        top: 80px;
    }
    .container_content-img{
        margin-top: 60px;
        width: 120px;
        height: 250px;
        margin-left: 5px;
    }
    .container_content-img span{
        color: var(--white-color);
        font-size: 1.6rem;
        font-weight: bold;
    }
    .container_content-img p{
        color: var(--white-color);
        font-size: 1rem;
        font-weight: bold;
        margin-top: 10px;
    }
    .container_content-img-btn{
        width: 120px;
        height: 38px;
        margin-top: 30px;
        margin-left: 0px;
    }
    .container_content-img-btn p{
        color: var(--black-color);
        padding-left: 25px;
        padding-top: 12px;
    }
    .container_content{
        width: 100%;
        height: 400px;
        top: 1350px;
    }
    .container_experience{
        width: 100%;
        position: relative;
        top: 450px;
        left: 0;
    }
    .container_experience-wrap{
        display: block;
    }
    .container_experience-item{
        width: 250px;
        height: 250px;
    }.line{
        margin-top: 500px;
    }
    .footer{
        width: 100%;
        height: 40px;
        display: flex;
        position: relative;
        top: 0px;
    }
    .footer-icon{
        top: 5px;
        right: 15px;
        padding-bottom: 10px;
    }
}

/* Small Tablet*/

@media (min-width: 600px) and (max-width: 767px){
    .col-12{
        width: 100%;
    }
    .container_experience-wrap{
        display: block;
    }
    .slider_middel_place-list{
        width: 550px;
        height: 80px;
        left: -10px;
    }
    .slider_content-wrap{
        position: absolute;
        left: 30%;
        top: 0px;
        text-align: center; 
    }
    .header_middel{
        display: none;
    }
    .header_right{
        height: 80px;
        position: absolute;
        top: -90px;
    }
    .container_content{
        margin-top: 80px;
    }
    .container_content-img{
        width: 400px;
        height: 250px;
        margin-left: 10px;
    }
    .container_content-img span{
        font-size: 2.6rem;
    }
    .container_content-img p{
        font-size: 1.2rem;
    }
    .container_content-img-btn{
        width: 120px;
        height: 40px;
        margin-top: 20px;
        margin-left: 50px;
    }
    .container_content-img-btn p{
        padding-left: 18px;
        padding-top: 12px;
    }
    .container_content{
        top: 2050px;
    }
    .container_experience{
        top: 30px;
    }
    .footer{
       top: 400px;
    }
    .line{
        top: 390px;
    }
    .container_experience-item{
        width: 150px;
        height: 150px;
    }
    .container_experience-list{
        margin-top: 30px;
        margin-left: -5px;
    }
    .footer-icon{
        width: 100px;
        position: absolute;
        top: 10px;
        left: 40px;
        margin-bottom: 40px;
    }
    .header_right-wrap{
        position: absolute;
        width: 250px;
        height: 80px;
        right: 10px;
        display: flex;
        display: flex;
    }
    .slider_middel_experience-list{
        width: 550px;
        height: 80px;
        left: -160px;
    }
    .slider_right{
        height: 80px;
        position: absolute;
        z-index: 1;
        top: -180px;
    }
    .slider_right-wrap{
        position: absolute;
        width: 250px;
        height: 80px;
        right: 10px;
        top: 0;
        display: flex;
    }
    .container_experience-list-content span{
        padding-left: 0px;
        font-size: 1.4rem;
    }
    .container_experience-list-content p{
        font-size: 1.2rem;
        padding-left: 0px;
    }
}





/* Tablet - PC low resolution */

@media (min-width: 768px) and (max-width: 1023px) {
    .experience-hiden{
        display: none;
    }
    .slider_middel_wrap{
        width: 170px;
        margin-left: -50px;
    }
    .slider_middel_place-list{
        width: 686px;
        height: 66px;
        left: -180px;
    }
    .slider_middel_experience-list{
        width: 686px;
        height: 66px;
        left: -250px;
    }
    .header_middel_search {
        width: 100%;
        height: 60px;
        margin-top: 10px;
        margin-left: -100px;
    }
    .container_plant-item-top-title p{
        padding-top: 10px;
        padding-left: 5px;
        font-size: 1.3rem;
    }
    .container_plant-item-top-title span{
        padding-left: 5px;
        font-size: 1.2rem;
        color: var(--text-color);
    }
    .container_plant-item-bottom-title p{
        padding-top: 10px;
        padding-left: 5px;
        font-size: 1.3rem;
    }
    .container_plant-item-bottom-title span{
        padding-left: 5px;
        font-size: 1.2rem;
        color: var(--text-color);
    }
    .container_interest-item{
        width: 150px;
        height: 150px;
    }
    .container_experience-item{
        width: 200px;
        height: 200px;
    }
    .container_experience-item-img{
        width: 200px;
        height: 200px;
    }
    .container_experience-list-content span{
        font-size: 1.8rem;
        padding-left: 0px;
    }
    .container_experience-list-content p{
        font-size: 1.4rem;
        color: var(--black-color);
        padding-top: 5px;
        padding-left:0px;
    }
}


/* > PC low resolution */

@media (min-width: 1023px) and (max-width: 1239px) {
    
    .slider_middel_wrap{
        width: 400px;
        margin-left: -50px;
    }
    .slider_middel_place-list{
        width: 900px;
        height: 66px;
        left: -250px;
    }
    .slider_middel_experience-list{
        width: 900px;
        height: 66px;
        left: -340px;
    }
    .header_middel_search {
        width: 100%;
        height: 60px;
        margin-top: 10px;
        margin-left: -100px;
    }
    .container_plant-item-top-title p{
        padding-top: 10px;
        padding-left: 10px;
        font-size: 1.5rem;
    }
    .container_plant-item-top-title span{
        padding-left: 10px;
        font-size: 1.4rem;
        color: var(--text-color);
    }
    .container_plant-item-bottom-title p{
        padding-top: 10px;
        padding-left: 10px;
        font-size: 1.5rem;
    }
    .container_plant-item-bottom-title span{
        padding-left: 10px;
        font-size: 1.4rem;
        color: var(--text-color);
    }
    .container_interest-item{
        width: 200px;
        height: 200px;
    }
    .container_experience-list{
        margin-left: 5px;
    }
    .container_experience-item{
        width: 270px;
        height: 270px;
    }
    .container_experience-item-img{
        width: 270px;
        height: 270px;
    }
    .container_experience-list-content span{
        font-size: 1.8rem;
        padding-left: 0px;
    }
    .container_experience-list-content p{
        font-size: 1.4rem;
        color: var(--black-color);
        padding-top: 5px;
        padding-left:0px;
    }
}
/* PC medium resolution > */

@media (max-width: 1024px) {
    
}